.logo-size{
  max-height: 60px;
}

.logo-about-size{
  max-height: 250px;
}

.about_us_top{
  margin-top: 50px;
}

.contact_margin{
  margin-top: 50px;
}
.list_products{
  cursor:pointer;
  cursor: hand;
}
