template(name='top_nav')
  .navbar-fixed
        nav
          .nav-wrapper
            a.brand-logo(href='#!') Logo
            ul.right.hide-on-med-and-down
              li
                a.logout.waves-effect.waves-light(href="{{pathFor route='logout.show'}}", title='Cerrar sesion')
                  i.material-icons power_settings_new     
           
