template(name="footer_admin")
  footer.page-footer.white
    .footer-copyright.blue.darken-2
      .container.white-text
        | © 2016 Copyright
        a.white-text.right(href='#!') www.bikestore.com
