template(name='order_detail')
  +navbar_admin
  .row
    .col.l10.offset-l1.m12.s12
      h2.center-align Detalle de la orden
      .admin-content2
        .row.detail-hero
          .col.l12.m12.s12
            ul.collection
              li.collection-item
                each exist_order
                  li.collection-item
                    | {{_id}}
                  table
                      thead
                        tr
                          th(data-field='name') Nombre
                          th(data-field='quantity') Cantidad
                          th(data-field='price') Precio unitario
                          th(data-field='total_price') Precio total
                      tbody
                        each products
                          tr
                            td {{name}}
                            td {{quantity}}
                            td {{product_cost}}
                            td {{product_cost_total}}
                    table
                        thead
                          tr
                            th(data-field='bank') Banco
                            th(data-field='number') Nro. Deposito
                            th(data-field='amount') Monto
                            th(data-field='date') Fecha
                            th(data-field='verified') Verificacion
                        tbody
                          tr
                            td {{payment.bank}}
                            td {{payment.number}}
                            td {{payment_amount}}
                            td {{payment_date}}
                            unless payment.verified
                              td Pago no verificado
                            else
                              td Pago verificado
                a(href='../../admin/orders').btn.blue.darken-2
                  | regresar
                unless order.payment.verified
                  span.to_left
                    a#verified.btn.green.darken-1
                      i.material-icons done
                      | verificar pago
                else
                  span.to_left
                    a#verified.btn.red.darken-1
                      i.material-icons error
                      | anular verificacion
                
  +footer_admin
