template(name="admin_products")
  +navbar_admin
  .row
    .col.s12
      h2.center-align Productos
      .admin-content2
        .fixed-action-btn
          a#add_products.right.btn-floating.btn-large.blue.darken-1
            i.material-icons add
        ul.collection
          li.collection-item
            unless exist_products
              p.center-align
                br
                h4 No hay productos... 
                  i.medium.material-icons directions_bike
                br
            else
              each products
                li.collection-item
                  | {{name}}
                  span.badge
                    a.list_products
                      i.material-icons.edit-product edit
                    a.list_products
                      i.material-icons.delete-product delete
  +footer_admin
              
template(name='edit_product')
  .row
    form.col.s12
      .row
        .input-field.col.s6
          input#product_name(type='text' value='{{params.name}}')
          label(for='product_name' class='active') Nombre
        .input-field.col.s6
          select#product_brands.browser-default
            option(value='N', disabled='') Seleccionar marca
            each product_brands
              option(value='{{name}}', selected='{{brand_selected(name)}}') {{name}}
      .row
        .input-field.col.s6
          input#product_cost(type='text' value='{{params.cost}}')
          label(for='product_cost' class='active') Precio
        .input-field.col.s6
          input#product_quantity(type='number' value='{{params.quantity}}')
          label(for='product_quantity' class='active') Cantidad
      .row
        .input-field.col.s6
          select#product_categories.browser-default
            option(value='N', disabled='') Seleccionar categoria
            each product_categories
              option(value='{{name}}', selected='{{brand_selected(name)}}') {{name}}
        .input-field.col.s3
          input#product_active(type='checkbox')
          label(for='product_active') Activado
        .input-field.col.s3
          input#product_offer(type='checkbox')
          label(for='product_offer') Oferta
      .row
        .input-field.col.s12
          textarea#product_description.materialize-textarea
            | {{params.description}}
          label(for='product_description' class='active') Descripci&oacute;n

template(name='create_product')
  .row
    form.col.s12
      .row
        .input-field.col.s6
          input#product_name(type='text')
          label(for='product_name') Nombre
        .input-field.col.s6
          select#product_brands.browser-default
            option(value='N', disabled='', selected='') Seleccionar marca
            each product_brands
              option(value='{{name}}') {{name}}
      .row
        .input-field.col.s6
          input#product_cost(type='text')
          label(for='product_cost') Precio
        .input-field.col.s6
          input#product_quantity(type='number'  value='1')
          label(for='product_quantity') Cantidad
      .row
        .input-field.col.s6
          select#product_categories.browser-default
            option(value='N', disabled='', selected='') Seleccionar categoria
            each product_categories
              option(value='{{name}}') {{name}}
        .input-field.col.s3
          input#product_active(type='checkbox')
          label(for='product_active') Activado
        .input-field.col.s3
          input#product_offer(type='checkbox')
          label(for='product_offer') Oferta
      .row
        .input-field.col.s12
          textarea#product_description.materialize-textarea
          label(for='product_description') Descripci&oacute;n

template(name='delete_product')
  .row
    h5  &#191;Est&aacute; seguro que desea elimiar este producto&#63;
