template(name="footer")
  footer.page-footer.blue.darken-2
    .container
      .row
        .col.l6.s12
          h5.white-text Tu tienda de accesorios
          p.grey-text.text-lighten-4 Solo usa lo mejor en componentes y piezas para tu vehículo de dos ruedas.
        .col.l4.offset-l2.s12
          h5.white-text BikeStore
          ul
            li
              a.grey-text.text-lighten-3(href='/') Inicio
            li
              a.grey-text.text-lighten-3(href='/about_us') Nosotros
            li
              a.grey-text.text-lighten-3(href='/contact') Contacto
    .footer-copyright.grey.lighten-3
      .container.blue-text.text-darken-2
        | © 2016 Copyright
        a.blue-text.text-darken-2.right(href='#!') www.bikestore.com
