template(name='login')
  .row
    .card.col.s6.offset-s3.center-align#contenedor
      .card-content
        form#login.col.s12
          .row
            h4.blue-text.text-darken-2 Iniciar Sesi&oacute;n 
          .row 
            .input-field.col.s12
              input#email(type='email')
              label(for='email') Correo
          .row
            .input-field.col.s12
              input#password(type='password')
              label(for='password') Contrase&ntilde;a
          .row
            button.btn.btn-large.waves-effect.waves-light.col.s12.blue.darken-2(type="submit") Iniciar Sesi&oacute;n 
          .row
            .col.s12.center-alig
              a(href="/register") Crear cuenta de usuario
