template(name='product_detail')
  +navbar
  .row
    .col.l12.m12.s12
      .row.detail-hero
        .col.m4.s12
          img.materialboxed(src='images/accesories/1.jpg')
        .col.m8.s12
          h1 Traba U Onguard Brute 8000
          h4 $ 40.000
          a.waves-effect.waves-light.btn Comprar
          p.product-heading Der iRobot Roomba 651 - Der zuverlässige Helfer für Ihren Boden.
          .product-summary
            p
              | Beim iRobot Roomba 651 überzeugen Design, Handhabung und Leistung gleichermaßen - ein echter Kauftipp!
          table.saugroboter-details(title='iRobot Roomba 651 bei Amazon.de kaufen')
            tbody
              tr
                th Marca
                td
                  strong
                    strike Shimano
              tr
                th Categoria
                td
                  strong
                    | Traba
              tr
                th Envio:
                td
                  strong
                    | gratis

  +footer
