template(name='product_detail')
  +navbar
  .row
    .col.l12.m12.s12
      .row.detail-hero
        .col.m4.s12
          img.materialboxed(src='/images/accesories/1.jpg')
        .col.m8.s12
          .row
            .col.l12.m12.s12
              h1 
                | {{exist_product.name}}
          .row
            .col.l3.m3.s12
              h4 {{product_cost}}
            .col.l3.m3.s12
              label(for='add_product_quantity') Cantidad
              input#add_product_quantity(type='number' value='1')
            .col.l3.m3.s12
              p
                a#add_car.waves-effect.waves-light.btn.blue.darken-2 Al carrito
          .row
            .col.l12.m12.s12
              .product-summary
                p
                  | {{exist_product.description}}
              table.product-details(title='Producto')
                tbody
                  tr
                    th Marca
                    td
                      strong
                          | {{exist_product.brand}}
                  tr
                    th Categoria
                    td
                      strong
                        | {{exist_product.category}}
                  tr
                    th Envio:
                    td
                      strong
                        | Gratis

  +footer
  
template(name='car_view')
  .row
    h5  Su producto fue agregado. &#191;Desea ver el carrito&#63;
