template(name='register')
  .row
    .card.col.s10.offset-s1.center-align#contenedor2
      .card-content
        form#register.col.s12
          .row
            h4.blue-text.text-darken-2 Registro 
          .row
            .input-field.col.s6
              input#first_name(type='text')
              label(for='first_name') Nombre
            .input-field.col.s6
              input#last_name(type='text')
              label(for='last_name') Apellido
          .row
            .input-field.col.s6
              select#gender.browser-default
                option(value='N', disabled='', selected='') Selecciona genero
                option(value='F') Femenino
                option(value='M') Masculino
            .input-field.col.s6
              input#age(type='number')
              label(for='age') Edad 
          .row  
            .input-field.col.s6
              input#email(type='email')
              label(for='email') Correo
            .input-field.col.s6
              input#password(type='password')
              label(for='password') Contrase&ntilde;a
          .row
            .input-field.col.s12
              button.btn.btn-large.waves-effect.waves-light.col.s12.blue.darken-2(type="submit") Registrarte
