template(name='register')
  .row
    .card.col.s10.offset-s1.center-align
      .card-content
        form#register.col.s12
          .row
            span.card-title Registro
          .row
            .input-field.col.s6
              input#first_name.validate(type='text')
              label(for='first_name') Nombre
            .input-field.col.s6
              input#last_name.validate(type='text')
              label(for='last_name') Apellido
          .row
            .input-field.col.s6
              select#gender
                option(value='N', disabled='', selected='') Selecciona genero
                option(value='F') Femenino
                option(value='M') Masculino
              label Seleccionar
            .input-field.col.s6
              input#age.validate(type='number')
              label(for='age') Edad 
          .row  
            .input-field.col.s6
              input#email.validate(type='email')
              label(for='email') Correo
            .input-field.col.s6
              input#password.validate(type='password')
              label(for='password') Contrase&ntilde;a
          .row
            .input-field.col.s12
              button.btn.btn-large.waves-effect.waves-light.col.s12(type="submit") Registrarte
