template(name="sidenav_left")
  #sidenav_left.col.l2.m4.s4
    ul
      each categorias
        li
          a(href="#").select_categoria
            | {{name}}
          
template(name="sidenav_right")
  #sidenav_right.col.l2.m4.s4
    ul
      li
        a(href="#")
          | Categoria 1
      li
        a(href="#")
          | Categoria 2
      li
        a(href="#")
          | Categoria 3
